@import "../../../../division-project/scss/imports/_config.scss";
@import "../../../../division-project/scss/imports/_mixins.scss";

$green: #8EC648;

.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.hero {
	border-bottom: 5px solid $green;
}

.hero-text li a {
	background: $green;
}

.module .media {
	border-bottom: 4px solid $green;
}

.header {
	background: #fff url("../images/nav_green.gif") repeat-x left bottom;
	position: relative;
}

#exit {
	display: none;

	@media (min-width: $break-large) {
		display: block;
		background: url("../images/exit.gif") top;
		position: fixed;
		width: 40px;
		height: 196px;
		top: 45%;
		z-index: 101;
	}
}

#exit:hover {
	background-position: bottom;
	cursor: pointer;
}

.white-popup-block {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 950px;
	margin: 20px auto;
}

.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}